<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.upload">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".Util.GlobalVar"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Camera.CameraActivity"/>
        <activity android:name=".MainMenu"
            android:theme="@style/MainMenuTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserSetting"></activity>
        <activity android:name=".SelectBoard.SelectBoard">
        </activity>
        <activity android:name=".SelectBoard.SelectBoardInstall"/>
        <activity android:name=".SelectBoard.SelectBoardRegister"/>
        <activity android:name=".Login"/>
        <activity android:name=".UpLoadImage.UpLoadImage"/>
        <activity android:name=".ShowList.ShowList"/>
        <activity android:name=".ShowList.ShowImage"/>
        <activity android:name=".ManageSlide"/>
        <activity android:name=".UpLoadVideo"/>
        <activity android:name=".PlayWork.PlayWork"/>
        <activity android:name=".PlayWork.Popup"
            android:theme="@style/popupTheme" android:screenOrientation="portrait"/>

    </application>

</manifest>